<p></p>
<p-panel>
  <p-header>
    Cadastro de Projetos
  </p-header>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">Nomenclatura:</span>
    <input type="text" pInputText [(ngModel)]="campoNomenclatura" />
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">Equipe:</span>
    <p-dropdown [options]="equipes" [(ngModel)]="campoEquipe" tabindex=0></p-dropdown>
  </div>
  <p-footer>
    <button pButton type="button" label="Cadastrar" (click)="cadastrarProjeto()"></button>
  </p-footer>
</p-panel>

<p></p>

<p-panel>
  <p-header>
    Listagem de Projetos
  </p-header>
  <p-accordion>
    <p-accordionTab header="{{ projeto.nomenclatura }}" *ngFor="let projeto of projetos">
      <div>
        <i class="fa fa-chevron-right" aria-hidden="true"></i> Equipe Responsável: {{ projeto.fkidequipe }}
        <!--<button pButton type="button" label="Alterar" icon="fa-pencil-square-o"></button> -->
        <button pButton type="button" label="Excluir" icon="fa-trash-o" (click)="removerProjeto(projeto)"></button>
      </div>
    </p-accordionTab>
  </p-accordion>
</p-panel>