<div class="ui-panel">
  <p-panel header="LOGIN" >
  <p></p>
  <span class="ui-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="campoUsuario"> 
    <label for="float-input">Usuário</label>
  </span>

  <p></p>

  <span class="ui-float-label">
    <input id="float-input" type="password" pPassword pInputText [(ngModel)]="campoSenha">
    <label for="float-input">Senha</label>
  </span>

  <p></p>

  <button pButton type="button" icon="fa fa-sign-in" iconPos="left" label="Login" class="ui-button" (click) = "verificarLogin()"></button>
</p-panel>
</div>